@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/dm-sans-v17-latin-300.woff2") format("woff2");
}

/* 400 - Regular */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/dm-sans-v17-latin-regular.woff2") format("woff2");
}

/* 500 - Medium */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/dm-sans-v17-latin-500.woff2") format("woff2");
}

/* 700 - Bold */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/dm-sans-v17-latin-700.woff2") format("woff2");
}

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #4a4a4a;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--gray-color);
  border-radius: 5px;
}
